<% content_for :title do %>
  Add new building
<% end %>

<% content_for :header_links do %>
  <a href='/buildings'>Previous Page</a>
<% end %>

<h1>Add New Building</h1>

<form method='POST' action='/buildings/new'>
  <div>
    <label for='name'>Building name:
      <input name='name' value='<%= params[:name] %>'></input>
    </label>
  </div>

  <button type='submit'>Add building</button>
</form>