<% content_for :title do %>
  Properties
<% end %>

<h1>Rental Properties</h1>

<ul style='list-style-type: none;'>
  <% @properties.each do |property| %>
    <li>
      <a style='display: inline-block' href='/properties/<%= property[:id] %>'>
        <h2><%= property[:name] %></h2>
        <p>Address: <%= property[:address] %></p>
      </a>
    </li>
  <% end %>
</ul>

<% if session[:username] %>
  <p>Signed in as: <%= session[:username] %></p>
  <form method='post' action='/users/signout'>
    <button type='submit'>Sign Out</button>
  </form>
<% else %>
  <a href='/users/signin'>Sign in</a>
<% end %>