<!-- WORK ON THIS -->
<form method='POST' action='/users/signup'>
  <label for='name'>Name:
    <input >
  </label>
  <label for='username'>Username:

  <div>
    <label for='username'> Username:
      <input name='username' value='<%= params[:username] %>'/>
    </label>
  </div>
  <div>
    <label for='password'> Password:
      <input type='password' name='password'/>
    </label>
  </div>

  <button type='submit'>Sign up!</button>