<!-- WORK ON THIS -->
<form method='POST' action='/users/signup'>
  <div>
    <label for='name'>Name:
      <input name='name' value='<%= params[:name] %>'/>
    </label>
  </div>
  <div>
    <label for='property_name'>Property Name:
      <select for='property_name'>
        <option value='<%= params[:property_name] %>'>
      </select>
    </label>
  <div>

  <div>
    <label for='apartment_number'>Apartment Number:
      <option for='apartment_number' value='<%= params[:apartment_number] %>'/>
    </label>
  </div>

  <div></div>
  
  <div>
    <label for='username'>Username:
      <input name='username' value='<%= params[:username] %>'/>
    </label>
  </div>
  
  <div>
    <label for='password'> Password:
      <input type='password' name='password'/>
    </label>
  </div>

  <button type='submit'>Sign up!</button>
</form>