<% content_for :title do %>
  Signup
<% end %>

<% content_for :header_links do %>
  <a href='/buildings'>Go back to homepage</a>
<% end %>

<form method='POST' action='/users/signup'>
  <div>
    <label for='username'>Username:
      <input name='username' id='username' value='<%= params[:username] %>'>
    </label>
  </div>
  
  <div>
    <label for='password'> Password:
      <input type='password' id='password' name='password'>
    </label>
  </div>

  <button type='submit'>Sign up</button>
</form>